@inherits Glass.Mapper.Sc.Razor.Web.Ui.TemplateBase<VirtualSummit.ViewModels.DemoBehind.DemoBehindModel>
<h1>Code Behind</h1>
<h3>@Model.Page.LongTitle</h3>             

@if (Model.IsPostback)
{
     <h4>This posted back</h4>
}
 
<form method="POST">
    <input type="submit" value="Submit"/>
</form>
