@using VirtualSummit.Models.sitecore.templates.VirtualSummit.Base
@inherits Glass.Mapper.Sc.Razor.Web.Ui.TypedTemplate<VirtualSummit.Models.ILazyModelMaker>
              
@if (Model is IPageTitles)
{
    var titles = Model as IPageTitles;
    
    <h1>@titles.LongTitle</h1>
}
@if (Model is IContent)
{
    var content = Model as IContent;
    @Raw(content.Body);
}