@inherits Glass.Mapper.Sc.Razor.Web.Ui.TemplateBase<VirtualSummit.ViewModels.TipsAndTricks.TipsAndTricksModel>
         
<h1><strong>Protected Private Field</strong></h1>
<h2>@Model.PageTitles.Title</h2>


<h1><strong>Item Extensions</strong></h1>
<h2>@Model.PageTitles.FeatureTitle</h2>

<h1><strong>Constructor Injection</strong></h1>
<h2>@Model.Injected.CombinedTitle</h2>

<h1><strong>FSharp</strong></h1>
<h2>@Model.FSharpModel.SomeTitle</h2>

