@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<VirtualSummit.ViewModels.FeaturedNews.IndexGet>
<h2>Featured news</h2>
<ul>
    @foreach (var article in Model.Articles)
    {
        <li>
            <a href="@article.Url">@article.Date.ToString("yyyy MMMM dd") @article.LongTitle</a>
        </li>
    }
</ul>